<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <main class="container section">
      <h1><%= pageTitle %></h1>
      <ul>
        <% errors.forEach((item) => { %>
        <li><%= item %></li>
        <% }) %>
      </ul>
      <a href="/" class="btn-primary">Вернуться на главную</a>
    </main>
  </body>
</html>
